<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-secondary justify-content-between">
  <a class="navbar-brand" routerLink="/home" >Shopping Cars</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light my-2 my-sm-0 bg-secondary" type="submit">Search</button>
  </form>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
