<div class="container-fluid">
  <div class="row padding">
      <button type="button" 
                class="btn btn-primary"
                routerLink="/home" 
                routerLinkActive="active">
                Back
      </button>
  </div>
  <div class="row">
    <div class="col-md-6 padding"
          *ngFor="let car of items">
          <div  class="card">
              <img  src="{{car.photo}}" 
                    class="card-img-top" 
                    alt="{{car.photo}}">
              <div class="card-header">
                <h1><span>Brand: </span>{{car.brand}} </h1>
                <h4><span>Model: </span>{{car.model}}</h4>
                <h4><span>Year: </span>{{car.year}}</h4>
                <h4><span>Price: </span>${{car.price}}</h4>
              </div>
              <div class="card-body">
                  <h1><span>Cylinders: </span>{{car.features.cylinders}} </h1>
                  <h4><span>Displacement: </span>{{car.features.displacement}}</h4>
                  <h4><span>Horsepower: </span>{{car.features.horsepower}}</h4>
                  <h4><span>Weight: </span>${{car.features.weight}}</h4>
                  <h4><span>Acceleration: </span>${{car.features.acceleration}}</h4>
              </div>
          </div>

    </div>
  </div>
</div>